@page
@model IndexModel
@{
    ViewData["Title"] = "作业管理系统";
}

<div class="text-left">
    <h1 class="mb-4">欢迎使用后台任务管理系统</h1>
    <div>
        <p><strong>后台任务管理系统</strong> </p>
        <p class="text-justify">
            后台任务管理系统基于 <a target="_blank" href="https://github.com/HangfireIO/Hangfire/">Hangfire</a> 为核心，打造企业一站式后台任务调度管理系统.
        </p>
    </div>
</div>
